body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* blog list section */
#header-title.card {
  border-radius: 0px !important;
}

.blog-cards-container {
  width: 820px;
}

.sidebar-container {
  width: 600px;
}

.archive-card #archive-year {
  font-size: 24px;
  width: 100%;
  text-align: right;
}

.archive-card i {
  position: absolute;
  left: 0;
  line-height: 1em;
  font-size: 30px;
  margin-left: 10px;
}

.author-card {
  height: 350px;
}

.author-card > .mdl-card__title {
  background: #ccc;
  color: #fff;
}

.blog-card > .mdl-card__title {
  color: #fff;
  height: 250px;
}

.blog-card > .mdl-card__menu {
  color: #fff;
}

.blog-summmary {
  line-height: 1.6em !important;
  overflow: hidden !important;
  height: 150px;
  text-align: justify;
}
/* End: blog-list */

.blog-view-card {
  width: 820px;
}

/* media queries */
/* blog list */
@media only screen and (max-width: 1200px) {
  .blog-cards-container {
    width: 100% !important;
  }
  .sidebar-container {
    width: 100% !important;
  }
  .blog-view-card {
    width: 100% !important;
    height: 100% !important;
  }
}
