body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: #22262a !important; */
  /* #22262a !important */
}

a {
  color: #00B7FF;
}

nav {
  height: 75px;
}

/* Color Themes */
.theme-dark {
  background: #161619 !important;
}

.theme-gray {
  background: #22262a !important;
}

.blog-title {
  border: 1px solid;
  padding: 12px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 24px !important;
}

.hero-banner {
 height: 300px;
}
.quotes {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.quote {
  border: 1px solid;
  border-color: #fff;
  padding: 10px;
}

/* Profile Card */
.profile-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: #16161a;
  text-align: center;
  margin: auto;
}

.profile-avatar h2 {
  margin: 36px;
}

.profile-quote h4 {
  width: 80%;
  font-weight: 100;
  margin:auto;
}

.profile-quote i {
  margin: 5px;
  font-size: 30px;
}


/* blog list section */
#header-title.card {
  border-radius: 0px !important;
}

.blog-container.row {
  max-width: 1280px;
  margin: auto;
}

.archive-card {
  max-width: 535px;
  margin: auto;
  background: #16161b !important;
}

.archive-card h4 {
  color: #fff !important;
}

.archive-card #archive-year {
  font-size: 24px;
  width: 100%;
  text-align: right;
}

.card.archive-cards {
  background: #23272b !important
}

.archive-card i {
  position: absolute;
  left: 0;
  line-height: 1em;
  font-size: 30px;
  margin-left: 10px;
}

.archive-list-title {
  list-style: none;
  font-size: 18px;
}

.author-card {
  height: 350px;
  max-width: 535px;
  margin: auto;
}

.author-card > .mdl-card__title {
  background: #23272b;;
  color: #fff;
}

.blog-card > .mdl-card__title {
  color: #fff;
  height: 250px;
}

.blog-card > .mdl-card__menu {
  color: #fff;
}

.blog-summmary {
  line-height: 1.6em !important;
  overflow: hidden !important;
  height: 150px;
  text-align: justify;
}
/* End: blog-list */


.blog-view-title-container h4 {
  font-size: 32px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.blog-view-title-container p {
  font-size: 24px;
  margin: 10px;
  font-weight: 100;
}

/* blog view errors */
.error-container {
  height: 800px;
  margin: 20px;
  text-align: center;
  color: #4ec4f9;
}


.background-particle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* media queries */
/* blog list */
@media only screen and (max-width: 1200px) {

  #header-title .card-body h3{
    font-size: 24px;
  }

  .blog-cards-container {
    width: 100% !important;
  }
  .sidebar-container {
    width: 100% !important;
  }
  .blog-view-card {
    width: 100% !important;
    height: 100% !important;
  }

  .background-particle {
    height: 100%;
  }
}

@media only screen and (min-height: 1200px) {
  @media screen and (min-width: 800px) {
    footer {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}